:root {
  --heroHeight: 300px;
  --searchHeight: 300px;
  --main-color: #062d1d;
  --secondary-color: #e3aa4d;
  --support-color: #ffffff;
}

.searchInputContainer {
  display: inline-block;
}

.searchInputContainerStandard {
  text-align: center;
}

.searchInputLeft,
.searchInputRight {
  background-color: var(--support-color);
  max-height: 40px;
  color: black;
  padding: 12px 20px 12px 20px;
  font-family: Arial, FontAwesome;
  width: 44%;
}

.searchInputLeft {
  border-radius: 10px 0px 0px 10px;
}

.searchInputLeftStandard {
  border-radius: 10px 0px 0px 10px;
  width: 50%;
}
.searchInputRightStandard {
  border-radius: 0;
  width: 46%;
}

.expand {
  width: calc(94%);
  border-radius: 10px 0px 0px 10px !important;
  padding: 12px 20px 12px 40px;
}

.searchIconX {
  margin-left: -20px;
  padding-top: 12px;
  position: absolute;
}

.searchIconRight,
.searchIconLeft {
  color: var(--support-color);
  background-color: var(--main-color);
  justify-content: center;
  align-content: space-around;
  min-width: 36px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  position: absolute;
}

.searchIconRight:hover,
.searchIconLeft:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.searchIconRight {
  border-radius: 0px 10px 10px 0px;
}

.searchIconLeft {
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  translate: 0px;
}
