# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vs/

# Ignore build directories
dotnet/LADP_EFC/bin/
dotnet/LADP_EFC/obj/
dotnet/LADP_EFC/.vs/

#Ignore all appsettings.json files in the repository
**/appsettings.json
dotnet/LADP.Tests/
