:root {
  --main-color: #062d1d;
  --secondary-color: #e3aa4d;
  --support-color: #ffffff;
}

.background {
  background-color: var(--main-color);
  font-size: 80%;
}

.navLink {
  color: var(--support-color) !important;
  font-family: "Merriweather", serif;
}

.navLink:hover {
  color: var(--secondary-color) !important;
  transition: 0.1s;
}

.endText {
  font-family: "Merriweather", serif;
  color: var(--secondary-color) !important;
}

.endText:hover {
  color: var(--support-color) !important;
  transition: 0.1s;
}

.active {
  text-decoration: wavy underline rgb(69, 184, 255);
}

/**------- Mobile NavBar -------------- **/

.navBrandText {
  color: var(--support-color) !important;
  text-align: center;
  font-family: "Merriweather", serif;
}

.profileIcon {
  color: var(--support-color);
}

@media (max-width: 768px) {
  .active {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
