:root {
  --main-color: #062d1d;
  --secondary-color: #e3aa4d;
  --support-color: #ffffff;
}

.background {
  background-color: var(--main-color);
}

.navLink {
  color: var(--support-color) !important;
  font-family: "Merriweather", serif;
}

.navLink:hover {
  color: var(--secondary-color) !important;
  font-size: 1.05rem;
  transition: 0.2s;
}

.navLink:focus {
  color: var(--support-color) !important;
  font-size: 1.05rem;
  text-decoration: wavy underline #e3aa4d;
}

.endText {
  font-family: "Merriweather", serif;
  color: var(--secondary-color) !important;
}

/* .endText:hover {
  color: var(--support-color) !important;
  font-size: 1.05rem;
  transition: 0.2s;
}

.endText:focus {
  color: var(--secondary-color) !important;
  font-size: 1.05rem;
  text-decoration: wavy underline white;
} */

.endText:target {
  color: var(--secondary-color) !important;
  font-size: 1.05rem;
  text-decoration: wavy underline white;
}