.container {
  display: flex;
  justify-content: Flex-start;
  padding-bottom: 40px;
}

.headerOne {
  width: 100%;
  height: 100%;
  object-fit: "cover";
}

.headerImage {
  min-width: 100%;
  height: 350px;
}
