.defaultContainer {
  min-width: 75vw;
  margin: 0;
  padding: 40px;
  min-height: 100vh;
}

.mobileContainer {
  min-width: 75vw;
  margin: 0;
  padding: 16px 20px 62px 20px;
}

@media (min-width: 752px) {
  .mobileContainer {
    max-width: 720px !important;
  }
}

@media (max-width: 752px) and (min-width: 652px) {
  .mobileContainer {
    max-width: 620px !important;
  }
}

@media (max-width: 652px) and (min-width: 552px) {
  .mobileContainer {
    max-width: 520px !important;
  }
}
