.background {
    background-image: url(../../assets/LAPalmTrees.png);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.title {
    text-align: center;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}