:root {
  --heroHeight: 300px;
  --searchHeight: 300px;
  --main-color: #062d1d;
  --secondary-color: #e3aa4d;
  --support-color: #ffffff;
}

.directionButton {
  display: flex;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-color);
  color: var(--support-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.directionButton:hover {
  color: var(--secondary-color);
}

.directionbtn {
  display: flex;
}

.directionbtn button {
  margin-right: 2em;
}
.directionIcon {
  margin-right: 5px;
  align-self: center;
}

@media (max-width: 768px) {
  .leafletContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
