:root {
  --heroHeight: 300px;
  --searchHeight: 300px
}
 
  .home {
    min-width: 75vw;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
  }

  /* .title {
    color: #070707;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
  } */

  /* .titleContainer {
    position: relative; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
    width: 100%
  } */

  /* .titleContainer,
  .searchContainer,
  .filterContainer {
    width: 100%; 
  } */

  /* .searchContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  } */

  /* .searchInputContainer {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  } */
  
  /* .searchInput {
    width: calc(70% - 20px); 
    max-width: 400px;
    height: 47px; 
    margin-bottom: 0px;
    margin-right: 0px; 
    background-color: rgb(195, 240, 195);
  } */
  
  /* .goButton {
    height: 47px; 
    margin-bottom: 0px;
    background-color: white; 
    border: 2px solid #000; 
    border-radius: 5px; 
    padding: 10px 20px; 
    color: #000; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
  } */
  
  
  /* .searchHint {
    margin-top: 0px; 
    text-align: left;
  } */

  /* .filterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    max-width: 600px;
  } */
  
  /* .filterButton {
    margin-bottom: 10px; 
    background-color: white; 
    border: 2px solid #000; 
    border-radius: 5px; 
    padding: 10px 20px; 
    color: #000; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
  } */
  
  /* .filterOptions {
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  /* .filterItem {
    position: relative;
    margin-right: 20px; 
  } */
  
  /* .filterButton:hover {
    background-color: #5ab876; 
  } */
/*---------------Search Area----------------------------------------*/  


/*---------------Search Results----------------------------------------*/

.resultsContainer {
  
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  height: 10vh;
  transition: height .25s ease-out;
  background-color: white;
}
.card :hover{
  cursor: pointer;
}
.cardSelected {
  height:50vh;
}

.resultInfo {
  font-weight: lighter; 
  font-size: 16px;
}

@media (max-width: 425px) {
  .card {
    transition: height 0.15s ease-out;
  }
  .cardSelected {
    height:75vh;
  }
  .mapContainer {
    display: none;
  }
  .heroContainer {
    display: none;
  }
}
/*---------------Map----------------------------------------*/

.mapContainer {
  position: sticky !important;
  top: 1rem;
  bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* min-height:600px; */
  /* height: calc(100vh  - var(--heroHeight)); */
    height: calc(100vh  - 2rem);
}
.mapTitle {
  text-align: center;
  color: #0c0c0c; 
  font-weight: bold;
}

/*---------------Hero----------------------------------------*/

.heroContainer {
  border: 1px solid #000; 
  text-align: center;
  font-size: 24px;
  background-color: #f0f0f0;
  min-height: var(--heroHeight);
  bottom: 0;
}