:root {
  --main-color: #062d1d;
  --secondary-color: #E3AA4D;
  --support-color: #ffffff;
}

.nav-link:hover {  
  color: var(--secondary-color) !important;
}

.bg-dark {
  background-color: var(--main-color) !important;
}

.bg-dark .nav-link {  
  color: var(--support-color) !important;
}

.bg-light {
  background-color: var(--support-color) !important;
}

.bg-light .nav-link {  
  color: var(--main-color) !important;
}

.btn-logout {
  background-color: transparent;
}
