/*-----Header-----*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bgImg {
  height: 250px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/LaImg.jpg');
}

.info {
  text-align: center;
  max-width: 100%;
  z-index: 2; 
}

.info p {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  font-family: var(--bs-body-font-family);

}

.titleHeader {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: whitesmoke;
  font-family: "Merriweather", serif; 
  padding-top: 27px;
  padding-bottom: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/*-----Body-----*/
.body {
  background-color: rgb(6, 45, 29);
  margin: 20px 0;
}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: whitesmoke;
  font-family: "Merriweather", serif; 
  padding-top: 27px;
  padding-bottom: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.teamCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*-----Footer-----*/

.aboutFooter {
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.footerTitle {
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
  color: black; 
  font-family: "Merriweather", serif; 
}

.iconLinks {
  display: flex;
  gap: 10px;
}

.iconLinks img {
  transition: transform 0.3s ease;
}

.iconLinks img:hover {
  transform: scale(1.2);
}

* {
  box-sizing: border-box;
}


