.aboutUs {
  min-width: none;
  margin-top: -55px; 
  padding: 60px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

/*-----Header-----*/
.header {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 700px; 
  position: relative; 
  overflow: hidden; 
}

.bgImg {
  height: 80%;
  width: 100%;
  object-fit: cover; 
}

.logo {
  border-radius: 50%;
  height: 220px;
  position: absolute;
  top: 140px;
  right: 79%;
  background: rgba(0, 0, 0, 0); /* Black see-through */
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0.25; 
  animation: fadeIn 3.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25; 
  }
}

.aboutContainer {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 70vw; 
  max-width: 1180px;
  padding: 30px; 
  color: white;
  font-size: 30px;
  text-align: center; 
  top: 50%; 
  transform: translateY(-50%); 
}

.info {
  text-align: center; 
  max-width: 100%; 
}

.info p {
  font-size: 24px;
  margin: 0;
  padding: 10px; 
}

/*-----Body-----*/

.body {
  padding: 60px;
  background-color: rgba(210, 180, 140, 0.849);
}

.title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px #000000;
}

.teamCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px; 
}

/*-----Footer-----*/

.aboutFooter {
  border-top: solid 2px black;
  background-color: rgba(210, 180, 140, 0.849);
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; 
}

.iconLinks {
  display: flex;
  gap: 10px;
}

.iconLinks img:hover {
  transform: scale(1.2);
}