/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  color: #888;
} 

.flex {
  text-align: center;
  font-size: 14px;
  flex: auto;
}


