:root {
  font-family: "Merriweather", serif, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #e3aa4d;
  text-decoration: inherit;
  font-family: "Merriweather", serif;
}
a:hover {
  color: #e3aa4d;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 400%;
  line-height: 2.1;
  font-family: "Merriweather", serif;
  color: rgb(2, 26, 2);
  font-weight: 800;
}

p {
  font-size: 2em;
  font-family: "Merriweather", serif;
}

button {
  background-color: #062d1d;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #e3aa4d;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* mapcontainer */
.leaflet-container {
  height: 100%;
  border-radius: 10px;
  width: 100%;
}
